.popular-pages .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.popular-pages:hover .tooltiptext {
  visibility: visible;
}

.sidebar-brand-icon img{
  height: 30px;
}