certifi==2018.11.29
chardet==3.0.4
Django==2.1.5
django-cors-headers==2.4.0
django-countries==5.3.2
django-ipware==2.1.0
django-user-agents==0.3.2
geoip2==2.9.0
idna==2.8
maxminddb==1.4.1
psycopg2==2.7.7
pytz==2018.9
PyYAML==3.13
requests==2.21.0
ua-parser==0.8.0
urllib3==1.24.1
user-agents==1.1.0
