{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bar Charts | Adminpro - Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'accounts/css/font-awesome.min.css' %}">
    <!-- adminpro icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'accounts/css/adminpro-custon-icon.css' %}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'accounts/css/meanmenu.min.css' %}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'accounts/css/jquery.mCustomScrollbar.min.css' %}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'accounts/css/animate.css' %}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'accounts/css/normalize.css' %}">
    <!-- charts CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'accounts/css/charts.css' %}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'accounts/css/responsive.css' %}">
    <!-- modernizr JS
		============================================ -->
    <script src="{% static 'accounts/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body class="materialdesign">
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- Header top area start-->
<div class="wrapper-pro">
    <div class="content-inner-all">
        <!-- Breadcome start-->
        <div class="breadcome-area mg-b-30 small-dn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcome-list shadow-reset">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="breadcome-heading">
                                        <h2>PRIVALYTICS.io</h2>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="breadcome-menu">
                                        <li>{{ website.website_url }}<span class="bread-slash">/</span>
                                        </li>
                                        <li><span class="bread-blod">Basic Stats</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcome End-->
        <!-- Breadcome start-->
        <div class="breadcome-area mg-b-30 des-none">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcome-heading">
                                        <div class="breadcome-heading">
                                            <h2>PRIVALYTICS.io</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <ul class="breadcome-menu">
                                        <li>{{ website.website_url }}<span class="bread-slash">/</span>
                                        </li>
                                        <li><span class="bread-blod">Basic Stats</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcome End-->
        <!-- Charts Start-->
        <div class="container">
            <div class="charts-area mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="charts-single-pro shadow-reset nt-mg-b-30">
                                <div class="alert-title">
                                    <h2>Visits Last 30 Days</h2>
                                </div>
                                <div id="bar1-chart">
                                    <canvas id="visitsdaychart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="charts-single-pro shadow-reset nt-mg-b-30">
                                <div class="alert-title">
                                    <h2>Visits Last 48 hours</h2>
                                </div>
                                <div id="line2-chart">
                                    <canvas id="visitshourchart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="charts-single-pro shadow-reset nt-mg-b-30">
                                <div class="alert-title">
                                    <h2>Most Used Devices</h2>
                                </div>
                                <div id="bar3-chart">
                                    <canvas id="devices-chart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="charts-single-pro shadow-reset nt-mg-b-30">
                                <div class="alert-title">
                                    <h2>Visitor Location Last 30 days</h2>
                                    <p>&nbsp;</p>
                                    <div id="world-map" class="stats-widget" style="width: 500px; height: 325px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="charts-single-pro shadow-reset">
                                    <div class="alert-title">
                                        <h2>Popular Pages last 30 days</h2>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <td>Page</td>
                                            <td>Visits</td>
                                        </tr>
                                        </thead>
                                        {% for page in website.popular_pages_30_days %}
                                            <tr>
                                                <td>{{ page.page }}</td>
                                                <td>{{ page.visits }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="charts-single-pro shadow-reset">
                                    <div class="alert-title">
                                        <h2>Top referrers last 30 days</h2>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <td>Referrer</td>
                                            <td>Visits</td>
                                        </tr>
                                        </thead>
                                        {% for referrer in website.top_referrers_30_days %}
                                            <tr>
                                                <td>{{ referrer.referrer_url }}</td>
                                                <td>{{ referrer.visits }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Charts End-->

        </div>
    </div>
    <!-- Footer Start-->
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright &#169; 2019 Privalytics.io All rights reserved. Template by <a
                                href="https://colorlib.com">Colorlib</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</div><!-- jquery
        ============================================ -->
<script src="{% static 'accounts/js/vendor/jquery-1.11.3.min.js' %}"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="{% static 'accounts/js/bootstrap.min.js' %}"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="{% static 'accounts/js/jquery.meanmenu.js' %}"></script>
<!-- sticky JS
    ============================================ -->
<script src="{% static 'accounts/js/jquery.sticky.js' %}"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="{% static 'accounts/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="{% static 'accounts/js/jquery.scrollUp.min.js' %}"></script>
<!-- Charts JS
    ============================================ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
{#    <script src="{% static 'accounts/js/charts/Chart.js' %}"></script>#}
{#    <script src="{% static 'accounts/js/charts/bar-chart.js' %}"></script>#}
{#    <script src="{% static 'accounts/js/visits_chart.js' %}"></script>#}
<!-- main JS
    ============================================ -->
<script src="{% static 'accounts/js/main.js' %}"></script>

<script>
    var ctx = document.getElementById("visitsdaychart");
    var visits_day_chart = new Chart(ctx, {
        type: 'line',
        responsive: true,
        data: {
            datasets: [
                {
                    label: "Daily Visits",
                    fill: false,
                    backgroundColor: '#90aaec',
                    borderColor: '#6c86bd',
                    data: {{ website.visits_day|safe }}
                }
            ]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'day'
                    },

                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById("visitshourchart");
    var myChart = new Chart(ctx, {
        type: 'line',
        responsive: true,
        data: {
            datasets: [
                {
                    label: "Hourly Visits",
                    fill: false,
                    backgroundColor: '#90aaec',
                    borderColor: '#6c86bd',
                    data: {{ website.visits_hour|safe }}
                }
            ]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'hour'
                    },

                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
</script>
<script>
    device_data = {{ website.popular_devices_30_days|safe }};
    var ctx = document.getElementById("devices-chart");
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: device_data['device_label'],
            datasets: [{
                label: "Device distribution",
                data: device_data['visits_data']
            }]
        },
    });
</script>


<script src="{% static 'js/vendor/d3/d3.min.js' %}"></script>
<script src="{% static 'js/vendor/d3-tip/d3-tip.min.js' %}"></script>
<script src="{% static 'js/vendor/topojson/topojson.min.js' %}"></script>
<script src="{% static 'js/vendor/datamaps/datamaps.world.min.js' %}"></script>
<script>
    var countries = {{ website.countries_30_days|safe }};
</script>
<script src="{% static 'js/world_map.js' %}"></script>
</body>

</html>