{% load static %}
<section class="showcase" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{% static 'privalytics/img/analytics.png' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Clear Analytics</h4>
                        <p class="card-text">Simple to interpret analytics with actionable insight. Get the information you need, when you need it.</p>
                    </div>
                    <div class="card-footer">
                        <a href="/ws/pythonforthelab.com" class="btn btn-info">See it in action</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{% static 'privalytics/img/user.png' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">No Personal Information</h4>
                        <p class="card-text">We don't store any personal information on our servers. Be GDPR compliant from the beginning.</p>
                    </div>
                    <div class="card-footer">
                        <a href="no-personal-information" class="btn btn-info">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{% static 'privalytics/img/tracks.png' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">No tracking</h4>
                        <p class="card-text">We don't store cookies and respect the do not track wishes of your users.</p>
                    </div>
                    <div class="card-footer">
                        <a href="no-personal-information" class="btn btn-info">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>