<section id="going-open" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Going Completely Open</h2>
                <p class="lead">At Privalytics we are committed to transparency and continuous learning. That is why we
                    decided to go fully open. On Github you will find not only the code to build the website, but also
                    all our plans to build a company. How we follow the lean approach, what experiments do we perform
                    and what ideas do we validate.</p>
                <p>We hope that Privalytics can become a resource for starting entrepreneurs who want to learn from a
                    real example. Supporting Privalytics not only makes a better internet, it also generates a growing
                    learning resource for everybody who wants to follow the entrepreneurial path.</p>
            </div>
        </div>
    </div>
</section>