<section id="going-open" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>We are Open</h2>
                <p class="lead">At Privalytics we are committed to transparency and continuous learning. That is why we
                    decided to go fully open. The code that builds this website is hosted on Github, and also the
                    roadmap of new feature we plan on releasing. Do you have a killer idea? Suggest it and we will
                    consider adding it to our product!</p>
                <p>We hope that Privalytics can become a resource for starting entrepreneurs who want to learn from a
                    real example. Supporting Privalytics not only makes a better internet, it also generates a growing
                    learning resource for everybody who wants to follow the entrepreneurial path.</p>
            </div>
        </div>
    </div>
</section>