{% extends 'privalytics/base.html' %}
{% load static %}
{% block custom_css %}
    <link href="{% static 'privalytics/css/pricing.css' %}" rel="stylesheet">
    <link href="{% static 'privalytics/css/showcase.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% include 'privalytics/header_index.html' %}
    {% include 'privalytics/features.html' %}
    {% include 'privalytics/our-offer.html' %}
    {% include 'privalytics/going-open.html' %}
    {% include 'privalytics/pricing.html' %}
    {% include 'privalytics/contact_form.html' %}
{% endblock %}

