{% load static %}
<!-- Image Showcases -->
<section class="showcase" id="our-offer">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('{% static 'privalytics/img/dashboard_screenshot.png' %}');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Our Offer</h2>
                <p class="lead">As webmasters and designers we are responsible for the internet we want to build. Make a
                    clever decision by respecting the privacy of your users. What we offer:</p>
                <ul>
                    <li>Clear and insightful analytics</li>
                    <li>Respect <i>do not track</i></li>
                    <li>GDPR compliant</li>
                    <li>No Cookies, say bye to the annoying pop-up!</li>
                    <li>Affordable plans for starters</li>
                </ul>
            </div>
        </div>
    </div>
</section>