{% extends 'privalytics/base.html' %}
{% block content %}
    <section class="mt-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <h1 class="mb-1">Website Terms and Conditions of Use
                    </h1>
                    <small>These terms were last updated on February 25th 2019.</small>
                    <h2 class="mt-3">Terms</h2>
                    <p>
                        By accessing this Website, accessible from https://www.privalytics.io, you are agreeing to be
                        bound by these Website Terms and Conditions of Use and agree that you are responsible for the
                        agreement with any applicable local laws. If you disagree with any of these terms, you are
                        prohibited from accessing this site. The materials contained in this Website are protected by
                        copyright and trade mark law.</p>

                    <h2>Disclaimer</h2>
                    <p>
                        All the materials on Privalytics’s Website are provided "as is". Privalytics makes no
                        warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore,
                        Privalytics does not make any representations concerning the accuracy or reliability of the use
                        of the materials on its Website or otherwise relating to such materials or any sites linked to
                        this Website.
                    </p>

                    <h2>Limitations</h2>
                    <p>
                        Privalytics or its suppliers will not be hold accountable for any damages that will arise with
                        the use or inability to use the materials on Privalytics’s Website, even if Privalytics or an
                        authorize representative of this Website has been notified, orally or written, of the
                        possibility of such damage. Some jurisdiction does not allow limitations on implied warranties
                        or limitations of liability for incidental damages, these limitations may not apply to you.
                    </p>

                    <h2>Users anonymity</h2>
                    <p>
                        Privalytics' core mission is to respect users privacy. Therefore, you are not allowed to
                        purposely alter the functioning of this website in order to identify individual visitors to your
                        website. The data Privalytics collects from the visitors of your website can be found on our <a href="{% url 'data-collection' %}">data policy</a>.
                    </p>
                    <h2>Tracking code</h2>
                    <p>Privalytics provides a tracking code that has to be embedded on every page that you would like to
                        analyse. You are not allowed to modify the tracking code in any way without prior consent from
                        Privalytics.</p>

                    <h2>Subscriptions</h2>
                    <p>Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be
                        billed in advance on a recurring and periodic basis ("Billing Cycle"). Billing cycles are set on
                        an annual basis.</p>
                    <p>At the end of each Billing Cycle, your Subscription will automatically renew unless you cancel it
                        or Privalytics cancels it. You may cancel your Subscription renewal either through your online
                        account management page or by contacting Privalytics customer support team.</p>
                    <p>
                        A valid payment method, including credit card, is required to process the payment for your
                        Subscription. You shall provide Privalytics with accurate and complete billing information
                        including full name, address, state, zip code, telephone number, and a valid payment method
                        information. By submitting such payment information, you automatically authorize Privalytics to
                        charge all Subscription fees incurred through your account to any such payment instruments.
                    </p>
                    <p>
                        Should automatic billing fail to occur for any reason, Privalytics will issue an electronic
                        invoice indicating that you must proceed manually, within a certain deadline date, with the full
                        payment corresponding to the billing period as indicated on the invoice.
                    </p>

                    <h2>Fee Changes</h2>
                    <p>Privalytics, in its sole discretion and at any time, may modify the Subscription fees for
                        the Subscriptions. Any Subscription fee change will become effective at the end of the
                        then-current Billing Cycle.</p>
                    <p>Privalytics will provide you with a reasonable prior notice of any change in
                        Subscription fees to give you an opportunity to terminate your Subscription before such change
                        becomes effective.</p>
                    <p>Your continued use of the Service after the Subscription fee change comes into effect
                        constitutes your agreement to pay the modified Subscription fee amount.</p>
                    <h2>Refunds</h2>
                    <p>Except when required by law, paid Subscription fees are non-refundable.</p>
                    <h2>Termination</h2>
                    <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
                    <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>
                    <h2>Revisions and Errata</h2>
                    <p>
                        The materials appearing on Privalytics’s Website may include technical, typographical, or
                        photographic errors. Privalytics will not promise that any of the materials in this Website are
                        accurate, complete, or current. Privalytics may change the materials contained on its Website at
                        any time without notice. Privalytics does not make any commitment to update the materials.
                    </p>

                    <h2>Links</h2>

                    <p>Privalytics has not reviewed all of the sites linked from its Website and is not responsible for
                        the contents of any such linked site. The presence of any link does not imply endorsement by
                        Privalytics of the site. The use of any linked website is at the user’s own risk.</p>

                    <h2>Site Terms of Use Modifications</h2>

                    <p>
                        Privalytics may revise these Terms of Use for its Website at any time without prior notice. By
                        using this Website, you are agreeing to be bound by the current version of these Terms and
                        Conditions
                        of Use.</p>

                    <h2>Your Privacy</h2>

                    <p>Please read our <a href="{% url 'privacy' %}">Privacy Policy</a>.</p>

                    <h2>Governing Law</h2>

                    <p>Any claim related to Privalytics's Website shall be governed by the laws of The Netherlands
                        without regards to its conflict of law provisions.</p>

                </div>
            </div>
        </div>
    </section>

{% endblock %}